# Ignore all node_modules anywhere
**/node_modules/

# Ignore all environment files
**/.env
**/.env.*

# Optional but recommended
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
