.message{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    margin-top : 20px;
}
.messageTop{
    display: flex;
    align-items: center;
}
.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.messageText{
    font-size: 14px;
    background-color: gray;
    color : white;
    max-width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.message.own{
    align-items: flex-end;
}
.message.own .messageText{
    background-color: #0084ff;
    color : white;
}