.messenger {
  height: calc(100vh - 50px);
  display: flex;
}
.chatMenu{
    flex: 3.5;
    border-right: 1px solid #ccc;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;

}
.chatMenuInput:focus{
    outline: none;
}
.chatBox{
    flex: 5;
    border-right: 1px solid #ccc;
}
.chatOnline{
    flex: 3;
}
.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}