.chatOnline{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 20px;
    flex-direction: column;
}
.chatOnlineFriend{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    flex-direction: row;
    margin-top: 15px;
}
.chatOnlineImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.chatOnlineImgContainer{
    position: relative;
}
.chatOnlineBadge{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0px;
    border: 2px solid white;
}